# Configuration file for continous integration using travis.
# See build results on http://travis-ci.org/gimli-org/gimli
# Before commiting changes to this file, check consistency on http://lint.travis-ci.org/

language: cpp

sudo: required

compiler: clang

os:
    - linux
    - osx

osx_image: xcode7.2b3

env:
    matrix:
    - PYVERSION=2.7
    - PYVERSION=3.4

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.6
    packages:
    - build-essential
    - clang-3.6
    - libclang-3.6-dev
    - llvm-3.6
    - libllvm-3.6-ocaml-dev
    - libblas-dev
    - liblapack-dev
    - libsuitesparse-dev
    - libedit-dev

before_install:
    - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
        OSNAME="MacOSX";
        brew update;
        brew unlink cmake;
        brew install cmake boost-python libconfig;
      elif [ "$TRAVIS_OS_NAME" == "linux" ]; then
        OSNAME="Linux";
        sudo add-apt-repository ppa:kalakris/cmake -y;
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y;
        sudo add-apt-repository --yes ppa:boost-latest/ppa;
        sudo apt-get update -qq;
        sudo apt-get install -qq cmake;
        sudo apt-get install -qq libboost-system1.55-dev libboost-thread1.55-dev libboost-python1.55-dev;
        export CXX="clang++-3.6";
        export CC="clang-3.6";
      fi
    - if [ "PYVERSION" == "2.7" ]; then
        wget https://repo.continuum.io/miniconda/Miniconda-latest-$OSNAME-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-$OSNAME-x86_64.sh -O miniconda.sh;
      fi

    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - DEPS="numpy matplotlib sphinx"
    - conda create -q -n gimli python=$PYVERSION $DEPS
    - source activate gimli
    - pip install -r doc/requirements.txt # documentation requirements

install:
    # Show Infos
    - uname -a
    - python --version
    - cmake --version
    - python -c "import numpy; print(numpy.__version__)"

    # Main build
    - mkdir trunk
    - shopt -s extglob
    - mv !(trunk) trunk # necessary because of lib and thirdParty backcopying
    - mkdir build
    - cd build
    - cmake ../trunk
    - make -j 4 gimli
    - make pygimli J=4

script:
    # Make sure that interactive matplotlib backends work
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start

    # Test pygimli
    - export PYTHONPATH=$PYTHONPATH:`pwd`/../trunk/python
    - python -c "import pygimli; pygimli.test(onlydoctests=False, htmlreport='build_tests.html')"
