# recommand to create a suitable virtual environment first:
# python -m venv .venv --prompt=gimli
# source .venv/bin/activate
# python -m pip install -r dev_requirements.txt
# python -m pip list
# python -m pip install package==version

# needed
setuptools
#numpy<2
numpy>=2.1.3
matplotlib
pyqt5 #pyqtagg backend
pyplusplus==1.8.5
pygccxml==2.5.0


# needed to run
matplotlib>=3.7,<3.9

# optional, but strongly recommended
#scipy<1.14  # for numpy 1
scipy>=1.14 # for numpy 2
scooby
#pyvista[all]<0.44; # for numpy 1
pyvista[all]>=0.44 # for numpy 2
pyqt5
tqdm

# needed to build docu
sphinx>=3.1
sphinxcontrib-bibtex
sphinxcontrib-programoutput
sphinxcontrib-doxylink
sphinx-gallery
sphinx-design
pydata-sphinx-theme
bibtexparser
jupytext

# optional, but strongly recommended
scooby
ipython

# for testing
pytest
meshio

# needed for wheel build
wheel
auditwheel; sys_platform == 'linux'
delvewheel; sys_platform == 'win32'
delocate; sys_platform == 'darwin'
twine

# optional
#tetgen<0.6.5 # for numpy 1
tetgen>=0.6.5 # for numpy 2
