# pip install -r dev_requirements.txt --user
# pip list
# pip install package== --user # list all possible versions for <pip-20.3
# pip install --use-deprecated=legacy-resolver package== --user # same as above for >=pip-20.3 and <pip-21
# pip install package==version --user

# needed
setuptools
numpy
matplotlib
pyqt5 #pyqtagg backend
pyplusplus==1.8.4
pygccxml==2.0.0
sphinx>=3.1
sphinxcontrib-bibtex
sphinxcontrib-programoutput
sphinxcontrib-doxylink
sphinx-gallery
sphinx-design
pydata-sphinx-theme
bibtexparser
pyvista[all,trame]>=0.42

# optional, but strongly recommended
scipy<1.12
scooby

# useful
ipython

# for testing
pytest
meshio

# optional
tetgen
