# recommand to create a suitable virtual environment first:
# python -m venv .venv --prompt=gimli.newfea
# source .venv/bin/activate
# python -m pip install -r dev_requirements.txt
# python -m pip list
# python -m pip install package==version

# needed to build
setuptools
numpy>=1.25

# needed
matplotlib
pyqt5 #pyqtagg backend
pyplusplus==1.8.4
pygccxml==2.0.0

# needed to run
matplotlib>=3.7,<3.9

# useful to run
ipython
jupytext

# optional, but strongly recommended
scipy>=1.11
scooby
pyvista[all]>=0.42
pyqt5
tabulate
tqdm

# needed to build docu
sphinx>=3.1
sphinxcontrib-bibtex
sphinxcontrib-programoutput
sphinxcontrib-doxylink
sphinx-gallery
sphinx-design
pydata-sphinx-theme
bibtexparser
pyvista[all,trame]>=0.42
breathe

# useful
ipython

# for testing
pytest
pylint
meshio

# needed for wheel build
wheel
auditwheel; sys_platform == 'linux'
delvewheel; sys_platform == 'win32'
delocate; sys_platform == 'darwin'
twine

# optional
tetgen
