/*general settings*/
html {
    background: url("bg.png") repeat fixed;
}

ul {
padding-left: 10px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    max-width: 1000px;
    box-shadow:   2px  0  10px  #aaa,
                 -2px  0  10px  #aaa;
    -moz-box-shadow:  2px  0  10px  #aaa,
                      -2px  0  10px  #aaa;
    -webkit-box-shadow:  2px  0  10px  #aaa,
                         -2px  0  10px  #aaa;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px
}

a { color: #16540e }
a:hover { color: #3c8732 }

input,
button,
select,
textarea {
    font-family: "Open Sans"
}


/*gallery for examples and tutorials*/
.gallery.figure {
    float: left;
    width: 100%;
    height: 160px;
}

.gallery.figure img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

.gallery.figure .caption {
    text-align: left !important;
    font-size: 18px;
    font-weight: 180;
    position: relative;
    top: -50%;
    left: +25%;
}

p.caption {
    text-align: center;
    margin-top: 1 em;
    font-size: small;
}

.figure.align-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*sidebar*/
.sidebar-box {
    padding: 0;
}
.sidebar-box-heading {
    padding-left: 15px;
}

/*examples/tutorials gallery in sidebar*/
.carousel-control {
    font-size: 20px;
    line-height: 15px;
    height: 20px;
    width: 20px;
    top: 55%;
}

.carousel-caption {
    color: #fff;
}
/*header format*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0.7em 0 0.5em 0em;
    line-height: 1.2em;
    color: #002b36;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}
h2 {
    font-size: 24px;
    line-height: 30px;
}
h3 {
    font-size: 19px;
    line-height: 21px;
}
h4 {
    font-size: 17px;
    line-height: 19px;
}
h5 {
    font-size: 15px;
    line-height: 17px;
}
h6 {
    font-size: 13px;
    line-height: 15px;
}

/*adjusted for numpydoc*/
table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
    border: 0px;
}

/*table in doc/index.html*/
table.docutils.doc-index td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
    border: 0px;
}

/*table in pygimliapi function overview*/
table.longtable.docutils td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-top: 1px solid #dddddd;
}

table.longtable.docutils tbody > tr:nth-child(odd) > td, table.longtable.docutils tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

table th {
    background-color: #eee;
    width: 7.5em;
}

/*permanent headerlinks*/
.headerlink {
    margin-left: 10px;
    color: #ddd;
    display: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline;
}

.headerlink:hover {
    color: #3c8732;
    text-decoration: none;
}

input#url.security {
    display: none
}

/*format of code cells lastcout directive*/
}
pre, code, blockquote {
    font-family: "Inconsolata";
    font-size: 15px;
}


/*API module headers*/
code, span.pre {
    padding: 1px 1px;
    color: #002b36;
    white-space: nowrap;
    background-color: transparent;
    border: none;
}

code.xref.py.py-mod.docutils.literal {
    font-size: 30px;
    line-height: 36px;
}

/*Display >>> toggle button in small code examples*/
span.copybutton {
    display: inline;
}

blockquote {
    border-left: 0px;
}

blockquote p{
    font-size: 14px;
}

blockquote em{
    font-weight: bold;
    font-style: normal;
}

/*make source link of functions appear right*/
.viewcode-link, .viewcode-back {
    float: right;
    font-weight: bold;
}

/* master content table */
.doc-index.docutils .first a {
    font-style: normal;
    font-size: 17px;
}

.doc-index.docutils .first em {
    font-style: normal;
}
.doc-index.docutils .last {
    padding-left: 10px;
}

.docutils .label, .docutils .badge {
    background: transparent;
    text-shadow: none;
    font-size: 13px;
    padding: 5px;
    line-height: 20px;
    color: #333;
    width: 170px;
}

/*admonition boxes*/
div.admonition {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition a {
    color: #2d6987;
}

div.admonition.warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.admonition.warning a {
  color: #a47e3c;
}

div.admonition.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition.error a {
    color: #b94a48;
}

/* module summary table */
.longtable.docutils {
    font-size: 12px;
    margin-bottom: 30px;
}
.longtable.docutils, .longtable.docutils td {
    border-color: #ccc;
}

/*for glossary*/
dd {
    margin-bottom: 10px;
}

/*index page*/
.hero-unit {
    padding: 40px;
}

.hero-unit h1 {
    font-size: 50px;
    padding-top: 0px;
}

/* function and class description */
dl.class, dl.function, dl.method, dl.attribute {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.descclassname {
    color: #aaa;
    font-weight: normal;
    font-family: monospace;
}
.descname {
    font-family: monospace;
}
dl.class em, dl.function em, dl.class big, dl.function big {
    font-weight: normal;
    font-family: monospace;
}
dl.class dd, dl.function dd {
    padding: 10px;
}
.docutils.field-list th {
    background-color: #eee;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 100px;
}
.docutils.field-list td {
    padding: 10px 10px 10px 20px;
    text-align: left;
    vertical-align: top;
}
.docutils.field-list td blockquote p {
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 18px;
    font-weight: normal;
}
p.rubric {
    font-weight: bold;
    font-size: 15px;
    margin: 15px 0 10px 0;
}
p.admonition-title {
    font-weight: 100;
    font-size: 18px;
    text-decoration: italic;
    }
