/*general settings*/

html {
    background: url("bg.png") repeat fixed;
}
ul {
    padding-left: 10px;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    max-width: 1000px;
    box-shadow: 2px 0 10px #aaa, -2px 0 10px #aaa;
    -moz-box-shadow: 2px 0 10px #aaa, -2px 0 10px #aaa;
    -webkit-box-shadow: 2px 0 10px #aaa, -2px 0 10px #aaa;
}
body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    /* font-weight: 400; */
    line-height: 21px;
}
a {
    /* color: #107896 */
    color: #337AB7
}
a:hover {
    color: #107896;
    text-decoration: none;
}

/*.navbar a:hover {*/


/*color: #43abc9;*/


/*border-bottom:3px #43abc9 solid;*/


/*padding-bottom: 20px;*/


/*}*/

input, button, select, textarea {
    font-family: "Roboto"
}

/*gallery for examples and tutorials*/

.gallery.figure {
    float: left;
    width: 100%;
    height: 160px;
}
.gallery.figure img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.gallery.figure .caption {
    text-align: left !important;
    font-size: 18px;
    /* font-weight: 180; */
    position: relative;
    top: -50%;
    left: +25%;
}
p.caption {
    text-align: center;
    margin-top: 1 em;
    /* font-size: small; */
}
.figure.align-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*sidebar*/

.sidebar-box {
    padding: 0;
}
.sidebar-box-heading {
    padding-left: 15px;
}

/*examples/tutorials gallery in sidebar*/

.carousel-control {
    font-size: 20px;
    line-height: 15px;
    height: 20px;
    width: 20px;
    top: 55%;
}
.carousel-caption {
    color: #fff;
}

/*header format*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0.7em 0 0.5em 0em;
    line-height: 1.2em;
    color: #002b36;
}
h1 {
    font-size: 28px;
    line-height: 36px;
}
h2 {
    font-size: 22px;
    line-height: 28px;
}
h3 {
    font-size: 19px;
    line-height: 21px;
}
h4 {
    font-size: 17px;
    line-height: 19px;
}
h5 {
    font-size: 15px;
    line-height: 17px;
}
h6 {
    font-size: 13px;
    line-height: 15px;
}

/*adjusted for numpydoc*/

table {
    border-collapse: collapse;
    margin: 0 0 0 0;
    border: 0px;
}

/*table in doc/index.html*/

table.docutils.doc-index td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
    border: 0px;
}

/*table in pygimliapi function overview*/

table.longtable.docutils td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-top: 1px solid #dddddd;
}
table.longtable.docutils tbody> tr:nth-child(odd)> td, table.longtable.docutils tbody> tr:nth-child(odd)> th {
    background-color: #f9f9f9;
}
table th {
    background-color: #eee;
    width: 7.5em;
}

/*permanent headerlinks*/

.headerlink {
    margin-left: 10px;
    color: #ddd;
    display: none;
}
h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink {
    display: inline;
}
.headerlink:hover {
    color: #3c8732;
    text-decoration: none;
}
input#url.security {
    display: none
}

/*format of code cells lastcout directive*/
pre, code, blockquote {
    font-family: "Inconsolata", monospace;
    font-size: 15px;
}

dt {
  font-weight: 500;
}

.nav-header {
    font-weight: 500;
}
/*API module headers*/

code.descname, code.descclassname, code.xref.py.py-mod.docutils.literal, code.xref.py.py-obj.docutils.literal {
    padding: 1px 1px;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

table.longtable.docutils a {
    font-weight: bold;
    font-family: Inconsolata;
}

table.longtable.docutils a:hover {
    text-decoration: underline;
}

span.pre {
    padding: 1px 1px;
    color: #337AB7;
    /* color: #002b36; */
    white-space: nowrap;
    background-color: transparent;
    border: none;
    font-size: 14px;
}
/*code.xref.py.py-mod.docutils.literal {
    font-size: 30px;
    line-height: 36px;
}*/
.sphx-glr-thumbcontainer {
    background: #fff;
    border: solid #fff 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: none;
    float: left;
    margin: 5px;
    min-height: 230px;
    padding-top: 5px;
    position: relative;
}
.sphx-glr-thumbcontainer:hover {
    border: solid #b4ddfc 1px;
    box-shadow: 0 0 15px rgba(142, 176, 202, 0.5);
}
.sphx-glr-thumbcontainer a.internal {
    bottom: 0;
    display: block;
    left: 0;
    padding: 150px 10px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.sphx-glr-thumbcontainer p {
    margin: 0 0 .1em 0;
}
.sphx-glr-thumbcontainer .figure {
    margin: 10px;
    width: 160px;
}
.sphx-glr-thumbcontainer img {
    display: inline;
    max-height: 160px;
    max-width: 100%;
}
.sphx-glr-thumbcontainer[tooltip]:hover:after {
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    content: attr(tooltip);
    left: 95%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    bottom: 52%;
}
.sphx-glr-thumbcontainer[tooltip]:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 18px 0 0 20px;
    bottom: 58%;
    content: '';
    left: 85%;
    position: absolute;
    z-index: 99;
}
.highlight-pytb pre {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    margin-top: 10px;
    padding: 7px;
}
.sphx-glr-script-out {
    color: #888;
    margin: 0;
}
.sphx-glr-script-out .highlight {
    background-color: transparent;
    margin-left: 2.5em;
    margin-top: -1.4em;
}
.sphx-glr-script-out .highlight pre {
    background-color: #fafae2;
    border: 1px dashed;
    max-height: 30em;
    overflow: auto;
    padding-left: 1ex;
    margin: 0px;
    word-break: break-word;
}
.sphx-glr-script-out+ p {
    margin-top: 1.8em;
}

.sphx-glr-script-out pre {
    overflow-y: auto;
    max-height: 30em;
    background-color: #fff;
    font-size: 13px;
    border-style: dashed;
}
ul.sphx-glr-horizontal {
    padding: 0px;
    list-style: none;
}
ul.sphx-glr-horizontal li {
    display: inline;
}
ul.sphx-glr-horizontal img {
    height: auto !important;
}

.sphx-glr-script-out .highlight pre {
  background-color: #fafae2;
  border: 0;
  max-height: 30em;
  overflow: auto;
  padding-left: 1ex;
  margin: 0px;
  word-break: break-word;
}
.sphx-glr-script-out + p {
  margin-top: 1.8em;
}
blockquote.sphx-glr-script-out {
  margin-left: 0pt;
}

div.sphx-glr-footer {
    text-align: center;
}

.sphx-glr-footer.container {
    box-shadow: none;
}

div.sphx-glr-download {
  display: inline-block;
  margin: 1em auto 1ex 2ex;
  vertical-align: middle;
  box-shadow: none;
}

div.sphx-glr-download a {
  background-color: #d9edf7;
  background-image: linear-gradient(to top, #BCE8F1, #d9edf7);
  border-radius: 4px;
  border: 1px solid #bce8f1;
  color: #3a87ad;
  display: inline-block;
  /* Not valid in old browser, hence we keep the line above to override */
  display: table-caption;
  font-weight: 500;
  padding: 1ex;
  text-align: center;
}

/* The last child of a download button is the file name */
div.sphx-glr-download a span:last-child {
    font-size: smaller;
}

@media (min-width: 20em) {
    div.sphx-glr-download a {
	min-width: 10em;
    }
}

@media (min-width: 30em) {
    div.sphx-glr-download a {
	min-width: 13em;
    }
}

@media (min-width: 40em) {
    div.sphx-glr-download a {
	min-width: 16em;
    }
}


div.sphx-glr-download code.download {
  display: inline-block;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
  /* border and background are given by the enclosing 'a' */
  border: none;
  background: none;
}

div.sphx-glr-download a:hover {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  text-decoration: none;
  background-image: none;
  background-color: #d9edf7;
}

code.xref.download.docutils.literal {
    font-family: "Roboto";
    font-size: 14px;
}

ul.sphx-glr-horizontal {
  list-style: none;
  padding: 0;
}
ul.sphx-glr-horizontal li {
  display: inline;
}
ul.sphx-glr-horizontal img {
  height: auto !important;
}

p.sphx-glr-signature a.reference.external {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  font-size: 75%;
  text-align: right;
  margin-left: auto;
  display: table;
}

a.sphx-glr-code-links:hover{
    text-decoration: none;
}

a.sphx-glr-code-links[tooltip]:hover:before{
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: white;
    content: attr(tooltip);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 16em;
    word-break: normal;
    white-space: normal;
    display: inline-block;
    text-align: center;
    text-indent: 0;
    margin-left: 0; /* Use zero to avoid overlapping with sidebar */
    margin-top: 1.2em;
}


/*Display >>> toggle button in small code examples*/
span.copybutton {
    display: inline;
}
blockquote {
    border-left: 0px;
}
blockquote p {
    font-size: 14px;
}
blockquote em {
    font-weight: 500;
    font-style: normal;
}

/*make source link of functions appear right*/
.viewcode-link, .viewcode-back {
    float: right;
    font-weight: 500;
}

/* master content table */
.doc-index.docutils .first a {
    font-style: normal;
    font-size: 17px;
}
.doc-index.docutils .first em {
    font-style: normal;
}
.doc-index.docutils .last {
    padding-left: 10px;
}
.docutils .label, .docutils .badge {
    background: transparent;
    text-shadow: none;
    font-size: 13px;
    padding: 5px;
    line-height: 20px;
    color: #333;
    width: 170px;
}

/*admonition boxes*/
div.admonition {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.admonition a {
    color: #2d6987;
}
div.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.admonition.warning a {
    color: #a47e3c;
}
div.admonition.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.admonition.error a {
    color: #b94a48;
}

/* module summary table */
.longtable.docutils {
    font-size: 12px;
    margin-bottom: 30px;
}
.longtable.docutils, .longtable.docutils td {
    border-color: #ccc;
}

/*for glossary*/
dd {
    margin-bottom: 10px;
}

/*index page*/
.hero-unit {
    padding: 30px;
}
.hero-unit h1 {
    font-size: 50px;
    padding-top: 0px;
}

/* function and class description */
dl.class, dl.function, dl.method, dl.attribute {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.descclassname {
    color: #aaa;
    font-size: small;
    font-weight: normal;
    font-family: monospace;
}
.descname {
    font-family: monospace;
    font-size: 14px;
}
dl.class em, dl.function em, dl.class big, dl.function big {
    font-weight: normal;
    font-family: monospace;
    font-size: 14px;
    font-style: normal;
}
dl.class, dl.function {
  font-size: 14px;
}

dl.class dd, dl.function dd {
    margin-left: 10px;
    padding: 5px 0px 0px 0px;
}

dl.class dt, dl.function dt {
    margin-left: 10px;
    padding: 5px 0px 0px 0px;
}
.docutils.field-list th {
    background-color: #eee;
    font-weight: 500;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.docutils.field-list td blockquote p {
    font-size: 14px;
    /* font-family: "Open Sans"; */
    font-family: "Roboto";
    line-height: 18px;
    font-weight: normal;
}
p.rubric {
    font-weight: 500;
    font-size: 15px;
    margin: 15px 0 10px 0;
}
p.admonition-title {
    /* font-weight: 100; */
    font-size: 18px;
    text-decoration: italic;
}
.navbar-form .input-append, .navbar-form .input-prepend {
    margin-top: 10px;
}
.navbar .nav>li>a {
    font-family: Roboto;
    float: none;
    padding: 15px 15px 0px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.logo img {
    width: 500px;
    height: 150px;
    margin-bottom: -20px;
    margin-top: 15px;
}
.well-small {
    padding-top: 9px;
    padding-bottom: 8px;
}
i.icon-search {
    padding-left: 3px;
}
.highlight .nn {
    /* color: #107896; */
    color: #337AB7;
    font-weight: bold;
}
div.highlight-python pre a {
    font-weight: bold;
    /* color: #107896; */
    color: #337AB7;
    text-decoration: underline;
}
div.highlight-python pre a:hover {
    color: #0088cc;
}

/*Wrap text around figure (used in software design section)*/
img.wrap-fig {
    float: left;
    margin-left: 10px;
}

.alert-success a {
  color: #468847;
  font-weight: bold;
}

table.docutils.field-list {
    font-size: 14px;
    line-height: 6px;
}

span.sig-paren {
  font-weight: 500;
}

strong {
  font-weight: 500;
}
.nav-list>li>a {
    padding: 4px 13px;
}
