# Requirements to test and build the documentation
# Install via pip: sudo pip install -U -r requirements.txt
sphinx >= 1.6.1
matplotlib
numpy>=1.12
numpydoc>=0.7
pytest
pytest-cov
sphinx-gallery>=0.0.13
sphinxcontrib-bibtex>=0.3.4
sphinxcontrib-programoutput>=0.8
sphinxcontrib-spelling>=2.1
pillow
scipy
