# Requirements to test and build the documentation
# Install via pip: sudo pip install -U -r requirements.txt
sphinx >= 1.8
matplotlib
numpy
pytest
pytest-cov
sphinx-gallery
sphinxcontrib-bibtex
sphinxcontrib-programoutput
sphinxcontrib-spelling
sphinxcontrib-doxylink
pillow
scipy
bibtexparser
pyvista==0.33
panel
